* {
  padding: 0px;
  margin: 0px;
}

iframe {
  height: 95vh;
  width: 100vw;
}

.head {
  position: fixed;
  top: 0px;
  width: calc(100vw - 40px);
  left: 0px;
  background-color: white;
  padding: 20px 20px;
  display: flex;
  align-items: center;
}

.head h1 {
  font-size: 25px;
  margin-left: 20px;
}
